

  body {
    margin: 0;
    padding: 4px 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
    main {
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff; 
    padding: 40px;
  }

  h1{
    text-align: center;
}

.contact-row {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 4px;
}

.contact-row a {
  text-align: right;
}
